<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zyx.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_photo" jdbcType="VARCHAR" property="userPhoto" />
    <result column="user_photo_big" jdbcType="VARCHAR" property="userPhotoBig" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="qrcode" jdbcType="VARCHAR" property="qrcode" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
  </resultMap>
</mapper>